* {
    padding: 0px;
    margin: 0px;
}

/* GERAL */
body {
    font-family: 'Verdana', sans-serif;
    background-color: #f55959;
    background-attachment: fixed;
    background-image: url("../../taichi/images/wbg.jpg");
    
}

.container {
    display: flex;
}

.left-side {
    margin: 10px;
    background-color: #f03a3a;
    width: 15%;
    height: 70%;
    border: 10px;
}

.nav-main {
    text-align: center;
}

.navbar {
    padding: 25%;
    line-height: 50px;
    margin: 5%;
    list-style-type: none;
    width: 15%;
}

.circle-img {
    background-color: #f26a63;
    border: 100%;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 10px;
}

#img-logo {
    width: 130px;
    margin-top: 40px;
}

.nav-item {
    text-transform: uppercase;
    color: #f7f7f7;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-item:hover {
    color:#f26a63;
    text-decoration: underline;
}
.header {
    background-color: #f03a3a;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    text-transform: uppercase;
}

.main {
    width: 80%;
    height: 100%;
    margin: auto;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Verdana', sans-serif;
    text-transform: uppercase;
    margin: 40px;
    color:rgb(224, 127, 127);
}

.cards-box {
    display: flex;
    justify-content: space-around;
}

/* ÍNICIO - BEM VINDO */

.box-img {
    background-color: #f26a63;
    border: 10px;
    width: 60%;
    margin: auto;
}

.box-img img {
    width: 60%;
    padding: 2%;
    margin-left: 20%;
}

/* ÍNICIO - DESTAQUES  */
.cards {
    margin: auto;
    width: 20%;
    height: 380px;
    padding: 10px;
    background-color: #f26a63;
    margin-bottom: 3%;
    border: 10px;
}

.img-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.legend-title {
    color: seashell;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

p {
    color: whitesmoke;
    text-align: center;
}

.price {
    text-align: center;
    font-weight: bold;
}

.cards-menu {
    margin: auto;
    width: 20%;
    height: 380px;
    padding: 10px;
    background-color: #f26a63;  
    margin-bottom: 3%;
    border: 10px;
}

.cards-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.cards-img img {
    width: 60%;
}

/* CONTATO E LOCALIZAÇÃO */

.form-contact {
    margin: 20px;
}

.form-title {
    margin: 10px;
    color:black;
    font-weight: bold;
    background-color: #ffc6c6;
    border: 5px;
}

fieldset {
    margin: auto;
    background-color: #ffb1b1;
    border: 10px;
    border: black;
    width: 60%;
}

form p input {
    margin: auto;
    color: black;
    background-color: #F1E7E7;
    width: 300px;
    border: 5px;
}

input#mensagem {
    height: 70px;
    margin: auto;
}

input[type="text"], input[type="email"] {
    height: 30px;
    display: block;
    margin: auto;
}

input[type=submit] {
    display: block;
    margin: 20px auto;
    padding: 5px;
    background-color: #ffc6c6;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #ffc6c6;
    color: #F1E7E7;
}

p {
    padding: 10px;
    margin: 10px;
    text-align: justify;
    font-family: 'Verdana', sans-serif;
    color: whitesmoke;
}

.mapa-conteudo iframe, .local {
    display: block;
    margin: auto;
    width: 90%;
}

/* NOSSA HISTÓRIA */

.text{
    margin: auto;
    padding: 10px;
    width: 60%;
    background-color: #f03a3a;
    border-radius: 10px;
}